[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "~=0.641"
pyre-check = "~=0.0.17"
mypy_extensions = "~=0.4.1"

[dev-packages]

[requires]
python_version = "3.6"
